@use "reset";
@use "font";
@import "color";

body {
  background-color: $background;
  color: $color-main;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}
